@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #ebe5eb;
  --background: #060406;
  --primary: #c0adc2;
  --secondary: #58414d;
  --accent: #a2818d;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --text: #1a141a;
    --background: #fbf9fb;
    --primary: #503d52;
    --secondary: #bea7b3;
    --accent: #7e5d69;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
